body {
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.3;
}

//Title
h1 {
  font-size: 3rem;
  color: $primary;
}

h2 {
  font-size: 1.5rem;
  color: $secondary;
  margin-bottom: .5rem;
}

//Flexbox
.flex {
  display: flex;

  &-c{
    flex-direction: column;
  }
  
  &-jc-sb{
    justify-content: space-between;
  }

  &-jc-c{
    justify-content: center;
  }

  &-ai-c{
    align-items: center;
  }
}

//Buttons
.btn {

  &__primary{
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-radius: .5rem;
    color: #fff;
    background-color: $secondary;
    transition: .3s color ease-in-out;
    
    &:hover{
      color: #fff;
      background-color: $secondary;
    }
  }

  &__secondary{
    border-color: $primary;
  }
}

